.l-project-sample
  .b-project-sample
    = link_to image_tag('homepage/DesignAdvice.png',:class=>'change-position',:alt=> "freedesign"), new_design_request_path, :class => 'quick'
.l-partner-logos
  %h1 Get furniture and decor recommendations from retailers you love.
  #pics
    %img{:src => '/assets/homepage/partner-logo-1.png'}
    %img{:src => '/assets/homepage/partner-logo-2.png'}
    %img{:src => '/assets/homepage/partner-logo-3.png'}
    %img{:src => '/assets/homepage/partner-logo-4.png'}
    %img{:src => '/assets/homepage/partner-logo-5.png'}
    %h1#more and more!
