#contact-us-result.modal.fade
  .modal-header
    = link_to 'x', nil, :class => 'close', 'data-dismiss' => 'modal'
    %h3
  .modal-footer
    = link_to 'Close', nil, :class => 'btn', 'data-dismiss' => 'modal'
