%nav.l-top-navigation.navbar
  = render_navigation :context => :top, :level => 1
  .l-start-project-button
    = link_to "Get started", new_design_request_path, :class => 'b-orange-button b-start-project-button'
