%div{:id=>"content"}
  %div{:class=>"post"}
    %h2{:class=>"title"}
      %a{:href=>"#"}
        Welcome to Roomation
    %div{:class=>"entry"}
      %p
        This is
        %strong="Roomation's"
        Landing page


  %div{:id=>"sidebar"}
    %h2=""
        
