#contractor-agreement
  %h1.no-pad-top Independent Contractor Agreement
  .content
    %h1 Last updated: May 14, 2012
    
    %p This Independent Contractor Agreement (this “Agreement”) governs the rights and obligations of you (“Independent Contractor,” “you” and “your”) and Roomations LLC (“Roomations,” the “Company,” “us,” “we” and “our”),  in connection with your performance of design services (“Services”) pursuant to projects (“Projects”) accepted by you through an online platform (the “Site”) owned and operated by Roomations. By registering as a creative on the Site you are agreeing to be bound by the most current version of the Independent Contractor Agreement as posted on the Site, including those terms available by hyperlink.

    %h1 1. Independent Contractor Status.
    %p By registering on the Site as a creative, you agree to provide services as an independent contractor to the Company, as defined by the IRS.  You represent and warrant that you have the right, authority and power to become an Independent Contractor under this Agreement and are not subject to restrictions imposed by any third-party agreements, including past or current employment agreements. As an independent contractor, you are not authorized to enter into or commit the Company to any agreements, and shall not represent yourself as the agent or legal representative of the Company. You shall not use the Company as an employer reference or represent the Company as an employer at any time while or subsequent to working as an Independent Contractor for the Company. You shall not be entitled to participate in any of the Company's benefits, including without limitation any health or retirement plans. You shall not be entitled to any remuneration, benefits, or expenses other than as specifically provided for in this Agreement.

    %h1 2. Tax Reporting and Filing.
    %p For all purposes, including but not limited to the Federal Insurance Contributions Act (“FICA”), the Social Security Act, the Federal Unemployment Tax Act (“FUTA”), income tax withholding requirements, state Personal Income Tax Withholding (“PIT”), state Unemployment taxes (“UI”), state Disability Insurance (“SDI”), and all other federal, state and local laws, rules and regulations, you shall be treated as an independent contractor with respect to Roomations. You hereby agree that you will file all tax returns, tax declarations, and tax schedules (including the Schedule C to the Form 1040 (unless incorporated)), and pay all taxes required, when due, with respect to any and all compensation earned by you under this Agreement.  You further acknowledge and agree that it shall be your obligation to report as income all compensation you receive pursuant to this Agreement.  Roomations will not withhold any taxes from compensation it pays to you, except as otherwise required by law.  Roomations will report, subject to minimum IRS reporting guidelines, all compensation paid to you via IRS Forms 1099. You agree to provide Roomations with a duly executed IRS Form W 9 and such other tax documentation as Roomations reasonably requests.

    %h1 3. Work Product.
    %p All creative work product shall be original work created by you in compliance with Customer and Company specifications posted on the Site at the time that the project is awarded. 

    %p You are solely responsible for meeting any and all applicable city, state and federal rules governing interior design. This may include licensing requirements, laws governing building design, construction and consumer products. 

    %h1 4. Schedule.
    %p For each Project or deliverable, you will be informed of a submission deadline determined in accordance with the deliverable guidelines posted on the Site. You agree to submit deliverables that are complete and in compliance with the deliverable guidelines and Customer requirements in advance of the submission deadline. 

    %p In the event that you submit a deliverable after the submission deadline or submit a deliverable that is incomplete or does not meet one or more Customer requirements (including but not limited to the Customer’s stated budget), the compensation due to you will be subject to a financial penalty (“late fee”) in accordance with the schedule of rates posted on the Site at the time that the project was awarded. Additional late fees will accrue each day that the project is late or incomplete and will be deducted from your compensation at the time that it becomes payable by Roomations.

    %h1 5. Compensation.
    %p Compensation for each project will be governed by the schedule of rates posted on the Site at the time that the project is awarded, including any applicable bonuses or penalties, and will be delivered via PayPal within fifteen (15) days following the acceptance of the final creative product by the Company and the Customer. Acceptance of the final creative product determined by both the Company and the Customer and establishes the point at which the project is considered to be complete.  You hereby acknowledge and accept that Customer acceptance is subjective and may not be predictable.

    %p In the event that a Customer does not provide a feedback response to a creative product within 30 days of receiving your submission and you have met all of your obligations under this Agreement, the Company shall deliver to you within fifteen (15) days payment appropriate to the level of Project completion, as determined by the creative work product that was submitted for Customer feedback and the schedule of rates posted on the Site at the time that the project was awarded.

    %h1 6. Failure to Perform.  
    %p If you fail to complete a Project to the reasonable satisfaction of a Customer, Roomations reserves the right to offer the applicable Project to another creative with no compensation owed or payable to you.

    %h1 7. Confidentiality. 
    %p The Independent Contractor acknowledges that during the engagement the Independent Contractor will have access to and become acquainted with various trade secrets, inventions, innovations, processes, information, records and specifications owned or licensed by the Company and/or used by the Company in connection with the operation of its business including, without limitation, the Company’s business and product processes, methods, customer lists, accounts and procedures. The Contractor agrees that he or she will not disclose any of the aforesaid, directly or indirectly, or use any of them in any manner, either during the term of this Agreement or at any time thereafter, except as required in the course of this engagement with the Company. 
    %p All files, records, documents, specifications, information, letters, notes, media lists, original artwork/creative, notebooks, and similar items relating to the business of the Company, coming into the possession of the Independent Contractor, shall remain the exclusive property of the Company. The Independent Contractor shall not retain any copies of the foregoing without the Company’s prior written permission. Upon the expiration or earlier termination of this Agreement, or whenever requested by the Company, the Independent Contractor shall immediately deliver to the Company all such files, records, documents, specifications, information, and other items in her possession or under her control. 

    %h1 8. Incorporation of Terms of Use
    %p 
      This Agreement hereby incorporates by reference all terms, conditions rules, policies and guidelines on the Site, including the Roomations
      = succeed '.' do
        = link_to 'Terms of Use', '/terms-of-use', :class => 'terms-window' 
