#faq
  %hr
  .right-block
    %h1.no-pad-top Frequently Asked Questions
    %p.top-20
      Of course you have questions! It's not every day that you want to transform your home. If you have a question not answered on this page, please contact us.

    .box
      #qa-image  

    %h1.content What is Roomations?
    %p Roomations is a site that provides interior design guidance by connecting you with interior designers online. You fill out a style questionnaire and upload photos of your room. Our designers use this information to create your customized style board or photo-realistic room designs, and provide a shopping list of the furniture and décor selected. All communication with designers is done conveniently online with no need for appointments.

    %h1.top-20.content What are the different types of design guidance offered by Roomations?
    %p 
      Please see our 
      =link_to 'How It Works', how_it_works_path
      page for the various types of guidance Roomations offers in your quest to transform your room.

    %h1.content How does Roomations compare to my other interior design options?
    %table{:cellpadding => 5}
      %tr.bold
        %td 
        %td Go It Alone
        %td.border-top.border-left.border-right Roomations
        %td Traditional Interior Designer
      %tr.grayed
        %td.bold Price
        %td None 
        %td.border-left.border-right $20-$495
        %td $2000+
      %tr
        %td.bold Time
        %td Never Ending
        %td.border-left.border-right 10 Business Days
        %td 2+ Months
      %tr.grayed
        %td.bold Type of Guidance
        %td None
        %td.border-left.border-right Style Boards & 3D Room Visions
        %td Multiple Appointments Mood Boards
      %tr
        %td.bold Furniture & Retailers
        %td Your favourite Retailers
        %td.border-left.border-right Your favourite Retailers
        %td Those with partnerships (High-End)
      %tr.grayed
        %td.bold Results
        %td Hit or Miss
        %td.border-left.border-right.border-bottom Hits the Mark, Guaranteed
        %td Often a hit, But no going back

    %h1.content How do I place an order?
    %p Click on the "Get Started" button in the upper right to select your desired level of design guidance and being the process of transforming your room!

    %h1.content Can I choose my designer?
    %p Yes, you can choose the designers who will develop concepts for your style board or designs.

    %h1.content What if I have furniture I want to keep?
    %p If you have furniture you want to keep, simply upload pictures of the furniture when you fill out your style questionnaire and it will be incorporated into your design or taken into account in your style board product selections.

    %h1.content Can I provide input along the way, before receiving my final design or style board?
    %p For style boards and designs, you will receive concept boards to approve prior to the receiving your final style board or design and shopping list.

    %h1.content How long does it take to receive my style board or design?
    %p The turnaround time to receive your final designs is around 15 days. You will receive your StyleBoard within 5 days and based on your quick feedback and approval, you will receive your final design and shopping list 10 days after that. 

    %h1.content What do Roomations designs cost?
    %p 
      See our 
      = link_to 'Pricing page', pricing_path
      = '.'

    %h1.content How do I know I'll like my design?
    %p Getting a package with 2 or 3 designs per room allows you to see more options and narrow in on a final design that you are happy with.

    %h1.content What if I don't like my final style board or design?
    %p If you are not satisfied with your final style board or room design, you can choose to receive a refund with our Money Back Guarantee, within 30 days prior to receiving your shopping list.

    %h1.content What if I have other questions?
    %p Please fill out our contact us form below for any other questions. 

    .box.top-40
