.pics{:id => "pics_set#{counter}", :style => "display:none"}
  %div.step-2-pic
    %div
      %img{:src => "/assets/steps/step2_img_left#{counter}.jpg"}
    %div
      %input{:type => 'radio', :name => 'styling', :class => "styling_radio"}
  %div.step-2-pic
    %div
      %img{:src => "/assets/steps/step2_img_right#{counter}.jpg"}
    %div
      %input{:type => 'radio', :name => 'styling', :class => "styling_radio"}