%script{:type=>"text/javascript"}
      (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '1624268171124830']);
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', 'PixelInitialized', {}]);
%noscript
      %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?id=1624268171124830&amp;ev=PixelInitialized", :style => "display:none", :width => "1"}/
%script{:type=>"text/javascript"}
      (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
      }
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6028247052537', {'value':'0.00','currency':'USD'}]);
%noscript
      %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?ev=6028247052537&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1", :style => "display:none", :width => "1"}/